* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.master-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'bio'
    'competances'
    'projets'
    'footer';
}

/* Nav */

#nav {
  display: flex;
  flex-direction: column;
  background-color: #143821;
  width: 100%;
  z-index: 10000;
  cursor: default;
  justify-content: center;
  align-items: center;
}
#nav img {
  width: 100px;
  height: 100px;
}

#nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 5px;
  list-style: none;
}

#nav li {
  align-self: center;
}

#nav li img {
  width: 100px;
  height: 100px;
}

#nav a {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: 0;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.25em;
}

#nav a:hover {
  color: #fff !important;
  background: #383838;
}

#nav a.active {
  background: #484848;
}

#nav a.active:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  margin-left: -0.75em;
  border-left: solid 0.75em transparent;
  border-right: solid 0.75em transparent;
  border-top: solid 0.6em #282828;
}

/* header container */

.header-container {
  grid-area: header;
  justify-self: center;
  width: 100%;
}

/* bio container */

.bio-container {
  grid-area: bio;
  box-shadow: inset 0 0 25px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-bio {
  border-radius: 50%;
  width: calc(100% / 1.5);
  height: 100%;
  margin: 25px;
}
.biographie-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-align: center;
  width: calc(100% / 1.1);
  margin-bottom: 25px;
}

.biographie-container header h1 {
  font-size: 2.5rem;
  margin: 0;
}
.biographie-container p {
  font-size: 1.5rem;
  margin: 0;
}
.biographie-container a {
  font-size: 2rem;
  border: 1px solid black;
}

.biographie-container a:hover {
  background-color: whitesmoke;
  transition: ease-out 1s;
}

/* competance container */

.competances-container {
  grid-area: competances;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.competances-container header h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 25px 0 25px 0;
}

.competances-container footer {
  font-size: 1.8rem;
  border: 1px solid black;
  border-radius: 25px;
  margin: 25px 10px 25px 10px;
  padding: 10px;
}

.competances-container footer:hover {
  background-color: whitesmoke;
  transition: ease-out 1s;
}

.list-competance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  width: 100%;
}

.detail-competance {
  width: calc(100% / 1.2);
  background-color: #aaaaaa;
  box-shadow: inset 0 0 10px black;
  border: 1px solid black;
  padding: 25px;
}

.detail-competance h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.detail-competance p {
  font-size: 1.1rem;
}

.img-competance {
  width: 125px;
  height: 125px;
  margin-bottom: 25px;
}

.detail-competance:hover {
  box-shadow: inset 0 0 25px whitesmoke;
}

/* Projet Container */
.projets-master-container {
  grid-area: projets;
  display: block;
  box-shadow: 0 0 25px black;
  text-align: center;
}
.projets-master-container header h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 25px 0 25px 0;
}

.projets-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  row-gap: 25px;
  margin-bottom: 25px;
}
.project-container-detail {
  display: flex;
  flex-direction: column;
  width: calc(100% / 1.2);
  height: 100%;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #aaaaaa;
  box-shadow: inset 0 0 50px #000000;
  padding: 10px 0 10px 0;
  align-items: center;
}

.project-container-detail:hover {
  box-shadow: inset 0 0 25px whitesmoke;
}

.img-projet {
  border-radius: 35px;
  width: 100%;
  height: 100%;
  padding: 0 10px 0 10px;
}

.projet-resumer {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  margin: 15px;
}

.projet-resumer h3 {
  margin: 0;
}

.projet-resumer p {
  font-size: 1.2rem;
  margin: 0;
}

.github-link {
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1.5rem;
  padding: 7px;
}

a.github-link:hover {
  background-color: whitesmoke;
  transition: ease-out 1s;
}

/* footer */

.footer-container {
  grid-area: footer;
  background-color: #143821;
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.footer-container footer {
  flex-grow: 2;
}

.footer-container ul {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  list-style: none;
  margin: 0;
}

.footer-container span {
  flex-grow: 1;
  font-size: 0.7rem;
}

@media screen and (max-width: 980px) and (min-width: 768px) {
  /* bio container */

  .img-bio {
    width: calc(100% / 1.8);
    margin: 50px;
  }
  .biographie-container {
    width: calc(100% / 1.3);
    margin-bottom: 50px;
  }

  .biographie-container p {
    font-size: 1.6rem;
  }
  .biographie-container a {
    font-size: 2.2rem;
  }

  /* competance container */

  .competances-container header h2 {
    font-size: 2.8rem;
    margin: 50px 0 50px 0;
  }

  .competances-container footer {
    font-size: 2rem;
    margin: 50px 10px 50px 10px;
  }

  .list-competance-container {
    row-gap: 50px;
  }

  .detail-competance {
    width: calc(100% / 1.4);
    padding: 25px 25px 35px 25px;
  }

  .detail-competance h3 {
    font-size: 2.2rem;
  }

  .detail-competance p {
    font-size: 1.4rem;
    padding: 0 35px 0 35px;
    margin-bottom: 0;
  }

  .img-competance {
    width: 175px;
    height: 175px;
  }

  /* Projet Container */

  .projets-master-container header h2 {
    font-size: 2.8rem;
    margin: 50px 0 50px 0;
  }

  .projets-list-container {
    row-gap: 50px;
    margin-bottom: 50px;
  }
  .project-container-detail {
    width: calc(100% / 1.25);
    padding: 25px;
  }

  .img-projet {
    padding: 0;
    height: 100%;
    max-height: 600px;
  }

  .projet-resumer {
    margin: 15px;
  }

  .projet-resumer h3 {
    margin: 0;
  }

  .projet-resumer p {
    font-size: 1.5rem;
  }

  .github-link {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1279px) and (min-width: 980px) {
  /* bio */

  .img-bio {
    width: calc(100% / 1.7);
    margin: 50px;
  }

  .biographie-container {
    width: calc(100% / 1.3);

    row-gap: 50px;
    margin-bottom: 50px;
  }

  .biographie-container header h1 {
    font-size: 3.5rem;
  }

  .biographie-container p {
    font-size: 1.8rem;
  }

  /* competance container */

  .detail-competance {
    width: calc(100% / 1.5);
  }

  .competances-container header h2.grand-titre {
    font-size: 2.8rem;
    margin: 50px 0 50px 0;
  }

  .list-competance-container {
    row-gap: 50px;
  }

  .detail-competance h3.light {
    font-size: 2.2rem;
  }

  .detail-competance p {
    font-size: 1.8rem;
    padding: 0 40px 0 40px;
    margin-bottom: 0;
  }

  .img-competance {
    width: 175px;
    height: 175px;
  }

  .competances-container footer {
    font-size: 2.5rem;
    margin: 50px 10px 50px 10px;
  }

  /* projet */
  .projets-master-container header h2 {
    font-size: 2.8rem;
    margin: 50px 0 50px 0;
  }

  .projets-list-container {
    row-gap: 50px;
    margin-bottom: 50px;
  }

  .project-container-detail {
    width: calc(100% / 1.3);
    padding: 25px;
  }

  .img-projet {
    padding: 0;
    max-height: 700px;
  }

  .projet-resumer h3.grand-titre-mobile {
    font-size: 3rem;
  }

  .projet-resumer p {
    font-size: 1.5rem;
  }

  .github-link {
    font-size: 1.8rem;
  }

  /* footer */

  .footer-container {
    height: 15vh;
  }

  .footer-container footer ul li {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1679px) and (min-width: 1280px) {
  /* nav */

  #nav {
    flex-direction: row;
    justify-content: space-between;
  }

  #nav ul {
    flex-direction: row;
    padding: 25px;
  }

  #nav a {
    font-size: 1.2rem;
  }
  /* bio container */

  .bio-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 25vh);
  }
  .img-bio {
    max-width: calc(50vw - 10vw);
    height: calc(50vh - 10vh);
    margin: 25px;
  }
  .biographie-container {
    justify-content: center;
    height: 100%;
    margin-bottom: 0;
    padding: 0 25px 0 25px;
  }

  .biographie-container header h1 {
    font-size: 3rem;
    margin-bottom: 25px;
  }
  .biographie-container p {
    font-size: 1.9rem;
    font-weight: 400;
  }
  .biographie-container a {
    font-size: 2.5rem;
  }

  .biographie-container a:hover {
    background-color: whitesmoke;
    transition: ease-out 1s;
  }

  /* competance container */

  .competances-container {
    grid-area: competances;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .competances-container header h2 {
    font-size: 3.5rem;
    padding: 25px;
    font-weight: 700;
  }
  .competances-container footer {
    font-size: 2rem;
    border: 1px solid black;
    margin: 25px 10px 25px 10px;
  }

  .competances-container footer:hover {
    background-color: whitesmoke;
    transition: ease-out 1s;
  }

  .list-competance-container {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
  }

  .detail-competance h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  .detail-competance p.p-big {
    font-size: 1.5rem;
  }

  .img-competance {
    width: 150px;
    max-width: 200px;
    height: 150px;
    max-height: 200px;
  }

  /* Projet Container */

  .projets-master-container {
    grid-area: projets;
    display: block;
    box-shadow: 0 0 25px black;
    text-align: center;
  }

  .projets-master-container header h2 {
    font-size: 3.5rem;
    padding: 25px;
    font-weight: 700;
  }

  .projets-list-container {
    row-gap: 15px;
  }

  .project-container-detail {
    flex-direction: row;
    width: calc(100vw - 10vw);
    padding: 25px 0 25px 0;
  }

  .img-projet {
    width: 500px;
    height: 500px;
    margin-left: 25px;
  }

  .projet-resumer {
    row-gap: 50px;
    margin: 0 50px 0 50px;
  }
  .projet-resumer h3 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .projet-resumer p {
    font-size: 1.5rem;
  }
  .github-link {
    font-size: 1.8rem;
  }

  /* footer */

  .footer-container {
    height: 15vh;
  }

  .footer-container footer ul li {
    font-size: 1.5rem;
  }

  .footer-container span {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1680px) {
  /* nav */

  #nav {
    flex-direction: row;
    justify-content: space-between;
  }

  #nav ul {
    flex-direction: row;
    padding: 25px;
  }

  #nav a {
    font-size: 1.5rem;
  }

  /* bio container */

  .bio-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 15vh);
  }
  .img-bio {
    max-width: calc(50vw - 5vw);
    height: calc(50vh - 5vh);
    margin-left: 6vw;
  }
  .biographie-container {
    justify-content: center;
    row-gap: 75px;
    height: 100%;
    margin-bottom: 0;
    padding: 0 75px 0 75px;
  }

  .biographie-container header h1 {
    font-size: 3.5rem;
  }
  .biographie-container p {
    font-size: 2rem;
    font-weight: 400;
  }
  .biographie-container a {
    font-size: 2.8rem;
  }

  .biographie-container a:hover {
    background-color: whitesmoke;
    transition: ease-out 1s;
  }

  /* competance container */

  .competances-container {
    grid-area: competances;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .competances-container header h2 {
    font-size: 3.9rem;
    padding: 75px;
    font-weight: 700;
    margin: 0;
  }
  .competances-container footer {
    font-size: 3rem;
    margin: 100px 10px 100px 10px;
  }

  .list-competance-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .detail-competance {
    width: calc(100% / 3.5);
  }

  .detail-competance h3 {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 15px;
    margin: 0;
  }

  .detail-competance p.p-big {
    font-size: 1.8rem;
  }

  .img-competance {
    width: 200px;
    height: 200px;
  }

  /* Projet Container */

  .projets-master-container {
    grid-area: projets;
    display: block;
    box-shadow: 0 0 25px black;
    text-align: center;
  }

  .projets-master-container header h2 {
    font-size: 3.9rem;
    padding: 75px;
    font-weight: 700;
  }

  .projets-list-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;
  }

  .project-container-detail {
    flex-direction: column;
    width: calc(100% / 3.5);
    height: 1000px;
    padding: 25px 0 25px 0;
  }

  .img-projet {
    width: 400px;
    height: 400px;
  }

  .projet-resumer {
    justify-content: space-evenly;
    row-gap: 50px;
    margin: 0 40px 0 40px;
  }
  .projet-resumer h3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
    margin-top: 25px;
  }
  .projet-resumer p {
    font-size: 1.4rem;
  }
  .github-link {
    font-size: 1.8rem;
  }

  /* footer */

  .footer-container {
    height: 20vh;
  }

  .footer-container footer ul li {
    font-size: 2rem;
  }

  .footer-container span {
    font-size: 0.9rem;
  }
}

/* Class css custom */

.light {
  text-shadow: '0px 0px 5px #fff, #fff 0px 0px 10px, #fff 0px 0px 15px';
}

.grand-titre {
  font-size: 3em;
  margin: 15px 0 15px 0;
}

.grand-titre-mobile {
  font-size: 2.2rem;
  text-align: center;
}

.background-color-dark-green-theme {
  background-color: #5f816b;
}

.small-img {
  width: 75px;
  height: 75px;
}

.p-big {
  font-size: 1.2rem;
  padding: 0 15px 0 15px;
  margin: 1rem 0 1rem 0;
}
