* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p-big {
  font-size: 1.2rem;
}
h3-big {
  font-size: 1.5rem;
}

.full-view-container {
  margin: 0;
  padding: 0;
}

.master-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'bio'
    'competances'
    'projets'
    'contact'
    'footer';
}

.grand-titre {
  font-size: 3em;
  margin: 0;
}

.background-color-dark-green-theme {
  background-color: #5f816b;
}

/* Nav */

#nav {
  display: flex;
  background-color: #143821;
  width: 100%;
  z-index: 10000;
  cursor: default;
  justify-content: space-between;
}
#nav img {
  width: 100px;
  height: 100px;
}

#nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 5px;
  list-style: none;
}

#nav li {
  align-self: center;
}

#nav li img {
  width: 100px;
  height: 100px;
}

#nav a {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: 0;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.25em;
}

#nav a:hover {
  color: #fff !important;
  background: #383838;
}

#nav a.active {
  background: #484848;
}

#nav a.active:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  margin-left: -0.75em;
  border-left: solid 0.75em transparent;
  border-right: solid 0.75em transparent;
  border-top: solid 0.6em #282828;
}

/* header container */

.header-container {
  grid-area: header;
  justify-self: center;
  width: 100%;
}

/* bio container */

.bio-container {
  grid-area: bio;
  box-shadow: inset 0 0 25px black;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  padding: 100px;
}
.img-bio {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  flex-grow: 4;
  align-self: center;
}
.biographie-container {
  flex-grow: 1;
  padding: 50px;
}

.biographie-container header h1 {
  font-size: 3.8rem;
}
.biographie-container p {
  padding-right: 50px;
}

/* competance container */

.competances-container {
  grid-area: competances;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  padding-top: 0;
}

.list-competance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  column-gap: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.detail-competance {
  display: flex;
  flex-direction: column;
  height: 45vh;
  background-color: #aaaaaa;
  box-shadow: inset 0 0 10px black;
  border: 1px solid black;
  padding: 15px;
}

.img-competance {
  width: 150px;
  height: 150px;
  align-self: center;
}

.detail-competance:hover {
  box-shadow: inset 0 0 25px whitesmoke;
}

.light {
  text-shadow: '0px 0px 5px #fff, #fff 0px 0px 10px, #fff 0px 0px 15px';
}

/* Projet Container */
.projets-master-container {
  grid-area: projets;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  padding-top: 0;
  box-shadow: 0 0 25px black;
}

.projets-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 25px;
}
.project-container-detail {
  display: flex;
  flex-direction: row;
  width: 45vw;
  height: 500px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  background-color: #aaaaaa;
  box-shadow: inset 0 0 50px #000000;
}

.project-container-detail:hover {
  box-shadow: inset 0 0 25px whitesmoke;
}

.img-projet {
  flex-grow: 1;
  border-radius: 10px;
  margin: 25px 25px 25px 25px;
  width: 100%;
  max-width: 300px;
  max-height: 100%;
}

.projet-resumer {
  position: initial;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.github-link {
  height: 100%;
  align-items: flex-end;
  align-self: flex-end;
}

/* contact */

.contact-container {
  grid-area: contact;
  background-color: #143821;
}

/* footer */

.footer-container {
  grid-area: footer;
  background-color: #143821;
}

@media screen and (min-width: 1680px) {
  /* bio */

  .biographie-container p {
    font-size: 2.2rem;
  }

  /* projet */

  .img-projet {
    max-width: 450px;
  }
  .projet-resumer {
    margin: 0 25px 0 25px;
  }
}

@media screen and (max-width: 1679px) and (min-width: 1280px) {
  /* bio */

  .biographie-container header h1 {
    font-size: 3.5rem;
    text-align: start;
  }

  .biographie-container p {
    font-size: 1.5rem;
  }

  /* projet */

  .project-container-detail {
    width: 85vw;
    height: 400px;
  }
  .img-projet {
    max-width: 500px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 980px) {
  /* bio */

  .bio-container {
    flex-direction: column;
  }
  .img-bio {
    margin-right: 0px;
  }
  .biographie-container {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .biographie-container header {
    justify-content: center;
  }

  .biographie-container header h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .biographie-container p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
  }

  .biographie-container a {
    align-self: center;
  }

  /* projet */

  .projets-list-container {
    align-content: center;
    width: 100vw;
  }
  .project-container-detail {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 85vw;
    height: 650px;
    padding-top: 25px;
  }
  .img-projet {
    max-width: 450px;
    max-height: 350px;
    align-self: center;
  }
  .projet-resumer {
    margin: 0 50px 0 50px;
  }
}
@media screen and (max-width: 736px) {
  /* projet */

  .img-projet {
    margin: auto;
    max-width: 350px;
    max-height: 300px;
    width: 100%;
  }

  .projet-resumer {
    margin: 0 50px 0 50px;
  }
}
