body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-view-container {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.master-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'bio'
    'competances'
    'projets'
    'contact'
    'footer';
}

/* Nav */

#nav {
  display: flex;
  background-color: #282828;
  width: 100%;
  z-index: 10000;
  cursor: default;
}

#nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 5px;
  list-style: none;
}

#nav li {
  align-self: center;
}

#nav li img {
  width: 100px;
  height: 100px;
}

#nav a {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: 0;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.25em;
}

#nav a:hover {
  color: #fff !important;
  background: #383838;
}

#nav a.active {
  background: #484848;
}

#nav a.active:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  margin-left: -0.75em;
  border-left: solid 0.75em transparent;
  border-right: solid 0.75em transparent;
  border-top: solid 0.6em #282828;
}

/* header container */

.header-container {
  grid-area: header;
  justify-self: center;
  background-color: red;
  width: 100%;
}

/* bio container */

.bio-container {
  grid-area: bio;
  background-color: rebeccapurple;
}

/* competance container */

.competances-container {
  grid-area: competances;
  background-color: royalblue;
}

/* Projet Container */
.projets-master-container {
  grid-area: projets;
  margin: 0 auto;
  max-width: 100%;
  background-color: #1a472a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projets-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 25px;
  padding: 25px;
}
.project-container-detail {
  display: flex;
  flex-direction: row;
  width: 45vw;
  height: 500px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  background-color: #aaaaaa;
  box-shadow: inset 0 0 50px #000000;
}

.project-container-detail:hover {
  box-shadow: inset 0 0 50px #740001;
}

.img-projet {
  flex-grow: 1;
  border-radius: 10px;
  margin: 25px 25px 25px 25px;
  width: 100%;
  max-width: 300px;
  max-height: 100%;
}

.projet-resumer {
  position: initial;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.github-link {
  height: 100%;
  align-items: flex-end;
  align-self: flex-end;
}

/* contact */

.contact-container {
  grid-area: contact;
  background-color: goldenrod;
}

/* footer */

.footer-container {
  grid-area: footer;
  background-color: pink;
}

@media screen and (min-width: 1680px) {
  /* projet */

  .img-projet {
    max-width: 450px;
  }
  .projet-resumer {
    margin: 0 25px 0 25px;
  }
}

@media screen and (max-width: 1280px) {
  /* projet */

  .project-container-detail {
    width: 85vw;
    height: 400px;
  }
  .img-projet {
    max-width: 500px;
  }
}

@media screen and (max-width: 980px) {
  /* projet */

  .projets-list-container {
    align-content: center;
    width: 100vw;
  }
  .project-container-detail {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 85vw;
    height: 650px;
    padding-top: 25px;
  }
  .img-projet {
    max-width: 450px;
    max-height: 350px;
    align-self: center;
  }
  .projet-resumer {
    margin: 0 50px 0 50px;
  }
}
@media screen and (max-width: 736px) {
  /* projet */

  .img-projet {
    margin: auto;
    max-width: 350px;
    max-height: 300px;
    width: 100%;
  }

  .projet-resumer {
    margin: 0 50px 0 50px;
  }
}
